@charset "utf-8";
@import "header.scss";

body{
    .main {
        width:      980px;
        margin:     100px auto;
        padding:    100px;
        box-shadow: 0 0 4px gray;
        position:   relative;
    }
    .success-message {
        margin:      30px 0;
        text-align:  center;
    }
    /******* フォームのinfoを非表示に *******/
    .info {
        display: none;
    }
}