@(vv: model.ViewValueTodoList)(todos:Seq[(lib.model.Todo,lib.model.Category)])
@common.Default(vv){

<div class="todoList">
    <div class="todoList-header"><a href=@routes.TodoController.create class="todoList-header_make">todo作成</a></div>
    <ul class="list">
        <li class="list-todo list-headline">
            <p class="list-todo_title">タイトル</p>
            <p class="list-todo_txt">本文</p>
            <p class="list-todo_status">ステータス</p>
            <p class="list-todo_category">カテゴリー</p>
            <p class="list-todo_edit todoList-todo_linker">編集</p>
            <p class="todoList-todo_delete todoList-todo_linker">削除</p>
        </li>
        @for(todo <- todos ){
            <li class="list-todo">
                <p class="list-todo_title">@todo._1.title</p>
                <p class="list-todo_txt">@todo._1.body</p>
                <p class="list-todo_status">@todo._1.state.name</p>
                <p class="list-todo_category">@todo._2.name</p>
                <a href="/todo" class="todoList-todo_edit todoList-todo_linker">編集</a>
                <a href="/todo" class="todoList-todo_delete todoList-todo_linker">削除</a>
            </li>
        }
    </ul>
</div>
}